@import "./compass/styles.css";

* {
  user-select: none;
}

html {
  height: 100vh;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  overflow: hidden;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/poppins-v15-latin-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/poppins-v15-latin-500.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/poppins-v15-latin-600.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/poppins-v15-latin-700.ttf") format("truetype");
}

@font-face {
  font-family: "Unica One";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/unica-one-regular.ttf") format("truetype");
}
