$arrow-sz: 0.4vh;
$overflow-container-width: 60vh;

@keyframes weird-chromium-glitch {
  0% {
    max-width: $overflow-container-width;
  }
  99% {
    max-width: $overflow-container-width;
  }
  100% {
    max-width: $overflow-container-width + 0.25vh;
  }
}

.compass-widget {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 1vh;
  left: 0;
  right: 0;

  .compass-overflow-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 10vh;
    // overflow: hidden;
    max-width: $overflow-container-width; // make it dynamic
    animation: weird-chromium-glitch 4s infinite;

    span.current-yaw {
      position: absolute;
      left: 50%;
      transform: translate(-5vh, 5.2vh);
      width: 10vh;
      text-align: center;
      color: rgba(255, 255, 255, 0.68);
      font-size: 1.4vh;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
    }

    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      left: 50%;
      top: 1.4vh;
      width: 0.3vh;
      height: 2.8vh;
      min-width: 3px;
      margin-left: -0.15vh;
      background-color: rgba(255, 0, 0, 0.2);
    }
  }

  &.bottom {
    bottom: 0;
    top: auto;

    .compass-overflow-container {
      align-items: flex-end;

      &:before {
        top: auto;
      }

      span.current-yaw {
        transform: translate(-5vh, -4.2vh);
      }
    }

    li.tick-container {
      align-items: flex-end;

      span {
        transform: translateY(-1.2vh) !important;
      }
    }

    &.arrow .compass-overflow-container:before {
      border-top: $arrow-sz solid rgba(255, 255, 255, 0.72);
      border-bottom: none;
      transform: translate(-$arrow-sz, -0.6vh);
    }
  }

  &.arrow .compass-overflow-container:before {
    border-left: $arrow-sz solid transparent;
    border-right: $arrow-sz solid transparent;
    border-bottom: $arrow-sz solid #fff;
    background-color: transparent;
    transform: translate(-$arrow-sz, 0.6vh);
    width: 0;
    min-width: auto;
    margin-left: 0;
  }

  .compass-container {
    ul.tick-strip {
      position: relative;
      padding: 0;
      margin: 0;
      display: flex;

      li.tick-container {
        position: relative;
        display: flex;
        justify-content: center;
        width: 0.5vh;
        height: 3vh;
        margin-right: 2.2vh;

        &:last-child {
          margin-right: 0;
        }

        .tick {
          width: 0.4vh;
          height: 0.4vh;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.36);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.56);
        }

        &.semi .tick {
          background-color: rgba(255, 255, 255, 0.56);
        }

        &.full .tick {
          height: 1vh;
          min-width: 3px;
          width: 0.3vh;
          border-radius: 0;
          background-color: rgba(255, 255, 255, 0.64);
        }

        span {
          display: none;
          position: absolute;
          font-size: 1.5vh;
          text-align: center;
          transform: translateY(1.2vh);
          font-weight: 400;
          color: #fff;
          text-shadow: 0 0px 4px rgba(0, 13, 71, 0.92);
          z-index: 999;
        }

        &.semi span,
        &.full span {
          display: block;
        }

        &.semi span {
          transform: translateY(1.5vh);
          color: rgba(252, 255, 228, 0.76);
        }

        &.full span {
          font-size: 2vh;
          color: rgba(252, 255, 228, 0.84);
          font-weight: 500;
        }
      }
    }
  }
}
