@import "./font.scss";

* {
  user-select: none;
}

html {
  height: 100vh;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}
